examples/Databricks__Company_Enrichment_from_website_content.json
{
  "name": "Databricks: Company Enrichment from website content",
  "nodes": [
    {
      "parameters": {},
      "id": "04750e9b-6ce3-401b-89e7-f1f17f3a4a28",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://www.{{ $node[\"Split In Batches\"].json[\"Domain\"] }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "7a8bb997-5a2d-4ee0-a1ca-bebe9fe32bc2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        400
      ],
      "typeVersion": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "html"
            }
          ]
        },
        "options": {
          "trimValues": false
        }
      },
      "id": "6409f0c4-bf93-4a1d-a74c-e294fb39895f",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1380,
        400
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "prompt": "=This is the content of the website {{ $node[\"Split In Batches\"].json[\"Domain\"] }}:\"{{ $json[\"contentShort\"] }}\"\n\nIn a JSON format:\n\n- Give me the value proposition of the company. In less than 25 words. In English. Casual Tone. Format is: \"[Company Name] helps [target audience] [achieve desired outcome] and [additional benefit]\"\n\n- Give me the industry of the company. (Classify using this industry list: [Agriculture, Arts, Construction, Consumer Goods, Education, Entertainment, Finance, Other, Health Care, Legal, Manufacturing, Media & Communications, Public Administration, Advertisements, Real Estate, Recreation & Travel, Retail, Software, Transportation & Logistics, Wellness & Fitness] if it's ambiguous between Sofware and Consumer Goods, prefer Consumer Goods)\n\n- Guess the target audience of each company.(Classify and choose 1 from this list: [sales teams, marketing teams, HR teams, customer Service teams, consumers, C-levels] Write it in lowercase)\n\n- Tell me if they are B2B or B2C\n\nformat should be:\n{\"value_proposition\": value_proposition,\n\"industry\": industry,\n\"target_audience\": target_audience, \n\"market\": market }\n\nJSON:",
        "options": {
          "maxTokens": 120,
          "temperature": 0,
          "topP": 1
        },
        "requestOptions": {}
      },
      "id": "f45fcc6a-9ccd-43c9-9eaf-1797768e1e62",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1780,
        -40
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8de6c3d4-316f-4e00-a9f5-a4deefce90b3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        3040,
        260
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.body){\n\n\n\n$input.item.json.content = $input.item.json.body.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ')\n\n\n  $input.item.json.contentShort = $input.item.json.content.slice(0, 10000)\n}\n\nreturn $input.item"
      },
      "id": "669f888e-1416-4291-a854-07ffbbbfcab1",
      "name": "Clean Content",
      "type": "n8n-nodes-base.code",
      "position": [
        1540,
        400
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1L4ZNqvLdTGcTYPCQKTmw9-nxByAM-ivHid5V4ZOyhQY/edit?gid=270476248#gid=270476248",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet5",
          "mode": "name"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "Domain",
        "options": {}
      },
      "id": "dbd5f866-2f5e-4adf-b1b5-a27b08c0425a",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3500,
        300
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "97LEM408tIAGDoMR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json.value_proposition=JSON.parse($input.item.json.choices[0].message.content).value_proposition\n\n$input.item.json.industry=JSON.parse($input.item.json.choices[0].message.content).industry\n\n$input.item.json.market=JSON.parse($input.item.json.choices[0].message.content).market\n\n$input.item.json.target_audience=JSON.parse($input.item.json.choices[0].message.content).target_audience\n\nreturn $input.item;"
      },
      "id": "f8bf8b70-6070-447b-af22-4d4e1ffe3539",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        2400,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1L4ZNqvLdTGcTYPCQKTmw9-nxByAM-ivHid5V4ZOyhQY/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet5",
          "mode": "name"
        },
        "options": {}
      },
      "id": "2754c6e1-9cf6-47d4-ad97-0797ec9155df",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        600,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "97LEM408tIAGDoMR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c2b93428-0dcc-4c02-bb81-496c12442284",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "eccf1dc8-a0bb-40f6-9471-95eac8020b02",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        3940,
        500
      ],
      "webhookId": "d44bc024-1c21-44e0-b2b4-5cff6fb9f402",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://e2-demo-west.cloud.databricks.com/serving-endpoints/llama-3_1-8b/invocations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Respond only in JSON with opening and closing curly brackets, don't explain.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"This is the content of the website {{ $node['Split In Batches'].json['Domain'] }}:'{{ $json['contentShort'].replaceAll(/\"/g, '') }}'\\n\\nIn a JSON format:\\n\\n- Give me the value proposition of the company. In less than 25 words. In English. Casual Tone. Format is: '[Company Name] helps [target audience] [achieve desired outcome] and [additional benefit]'\\n\\n- Give me the industry of the company. (Classify using this industry list: [Agriculture, Arts, Construction, Consumer Goods, Education, Entertainment, Finance, Other, Health Care, Legal, Manufacturing, Media & Communications, Public Administration, Advertisements, Real Estate, Recreation & Travel, Retail, Software, Transportation & Logistics, Wellness & Fitness] if it's ambiguous between Sofware and Consumer Goods, prefer Consumer Goods)\\n\\n- Guess the target audience of each company.(Classify and choose 1 from this list: [sales teams, marketing teams, HR teams, customer Service teams, consumers, C-levels] Write it in lowercase)\\n\\n- Tell me if they are B2B or B2C\\n\\nformat should be:\\n{'value_proposition': value_proposition,\\n'industry': industry,\\n'target_audience': target_audience, \\n'market': market }\\n\\nJSON:\"\n    }],\n  \"max_tokens\": 1024\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        400
      ],
      "id": "5cebb91f-e840-4d52-b85d-bbbc33f27471",
      "name": "Databricks model serving",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zwm9EfVqc0tKpgSK",
          "name": "Databricks demo-west"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a856c967-39ee-48eb-87c6-4bfac32f02b4",
              "name": "value_proposition",
              "value": "={{ $json.value_proposition }}",
              "type": "string"
            },
            {
              "id": "8256901f-30a4-4ddd-9d99-8a7e01fb5191",
              "name": "industry",
              "value": "={{ $json.industry }}",
              "type": "string"
            },
            {
              "id": "5f76bb94-185d-477d-9a92-0cd293e27a02",
              "name": "market",
              "value": "={{ $json.market }}",
              "type": "string"
            },
            {
              "id": "304210a5-facd-4f75-bab5-e0fcdd8a28a1",
              "name": "target_audience",
              "value": "={{ $json.target_audience }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2780,
        400
      ],
      "id": "47e2c160-11cc-4144-8ff9-8bed6e1a3ae1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://e2-demo-west.cloud.databricks.com/api/2.0/fs/files/Volumes/main/demo_mlo/n8n/company-info.csv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv",
        "body": "={{ $input.item.binary.data.data.base64Decode() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        20
      ],
      "id": "342c36ea-0649-4b48-b954-0ec755570f43",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zwm9EfVqc0tKpgSK",
          "name": "Databricks demo-west"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3260,
        20
      ],
      "id": "95be45b1-5266-45dc-bac3-00c0de44293e",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "Databricks model serving",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Databricks model serving": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ee9d713-8cda-422d-b0e3-d465d80be9df",
  "meta": {
    "templateId": "1862",
    "instanceId": "fa8c16dfcd365450c4f7179ebddde94e24d1363d6aca7f29db25b74a138e3d59"
  },
  "id": "yRTD02yfMS8lmsTM",
  "tags": []
}